In [1]:
import pandas as pd
import re
import src.clean as cn
import src.json as jn
import numpy as np
pd.set_option("display.max_rows", 120)
pd.set_option("display.max_columns", 30)

In [2]:
#Abrimosel archivo para observar los datos que tenemos en el archivo attacks.csv
df_weather=pd.read_csv("input/weather_features.csv",encoding='cp1252')

In [3]:
df_weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178396 entries, 0 to 178395
Data columns (total 17 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   dt_iso               178396 non-null  object
 1   city_name            178396 non-null  object
 2   temp                 178396 non-null  float64
 3   temp_min             178396 non-null  float64
 4   temp_max             178396 non-null  float64
 5   pressure             178396 non-null  int64
 6   humidity             178396 non-null  int64
 7   wind_speed           178396 non-null  int64
 8   wind_deg             178396 non-null  int64
 9   rain_1h              178396 non-null  float64
 10  rain_3h              178396 non-null  float64
 11  snow_3h              178396 non-null  float64
 12  clouds_all           178396 non-null  int64
 13  weather_id           178396 non-null  int64
 14  weather_main         178396 non-null  object
 15  weather_description  178396 non-null  object
 16  weather_icon         178396 non-null  object
dtypes: float64(6), int64(6), object(5)
memory usage: 23.1+ MB

In [4]:
df_weather['city_name'].unique()

array(['Valencia', 'Madrid', 'Bilbao', ' Barcelona', 'Seville'],
      dtype=object)

In [5]:
x=df_weather['city_name']
y=cn.indice(x)
y

[35145, 71412, 107363, 142839]

In [6]:
data=cn.div_in_set(df_weather,y,"madrid")

In [7]:
df_weather_valencia.info()

NameError: name 'df_weather_valencia' is not defined

In [8]:
df_weather_madrid.info()

NameError: name 'df_weather_madrid' is not defined

In [9]:
24*365*4 == 35145

False

In [10]:
24*365*3+(24*366) == 35145

False

In [11]:
data2=cn.delete_duplicate(data)

In [12]:
#informacion a trabajar
#temp(K)	temp_min(K)	temp_max(K)	pressure(hPa) humidity(%) wind_speed(m/s)
#Transformar la data que esta por hora a mensual
#def Conversion_data(data2)

m=cn.arreglo(data2)

In [13]:
m = cn.redondear(m)
m

      temp  temp_min  temp_max  pressure  humidity  wind_speed
0   275.06    275.06    275.06    968.69     75.81        2.18
1   279.81    279.53    280.18    955.85     75.64        3.64
2   282.93    282.38    283.63   1009.12     69.54        2.51
3   286.10    286.10    286.10   1002.34     63.40        2.87
4   292.36    292.36    292.36    962.70     45.91        3.32
5   296.53    295.48    297.74    985.95     42.25        2.32
6   303.07    301.14    305.47   1016.69     28.42        2.56
7   298.71    296.39    301.01   1016.25     36.33        2.82
8   290.33    281.18    294.12   1016.74     45.56        2.50
9   288.38    287.85    288.96   1016.23     67.57        2.12
10  284.14    283.93    284.36   1024.23     73.98        1.78
11  280.15    279.81    280.60   1029.77     77.56        1.12
12  280.94    280.47    281.47   1021.39     82.85        3.03
13  280.34    279.26    281.32   1020.04     73.23        3.88
14  281.55    280.58    282.25   1015.55     61.97        3.18
15  284.77    283.94    285.85   1013.32     66.61        2.98
16  288.73    287.44    290.85   1014.89     60.82        2.55
17  296.01    293.91    297.69   1016.44     39.28        2.67
18  300.15    298.84    301.68   1003.76     39.47        2.23
19  300.33    298.72    302.43   1016.80     29.57        2.57
20  295.89    294.99    297.67   1017.17     39.02        1.96
21  287.89    287.80    288.47    971.65     69.42        1.68
22  282.12    281.34    283.06   1009.33     78.45        1.81
23  280.54    279.68    281.73   1025.34     82.22        1.56
24  277.15    275.97    278.26   1020.91     70.90        2.09
25  280.91    280.02    281.47   1003.62     78.88        2.85
26  283.40    282.11    284.42   1018.38     64.60        3.01
27  287.86    286.59    289.05   1019.42     47.39        2.38
28  291.60    289.76    292.22   1015.89     49.74        2.57
29  299.07    297.63    300.27   1016.62     36.91        2.56
30  298.70    297.07    299.38   1016.66     37.97        2.86
31  300.05    299.04    301.35   1017.35     29.62        2.20
32  293.82    292.62    294.93   1018.33     42.71        1.97
33  291.42    290.21    292.78   1022.93     49.71        1.34
34  282.95    282.05    284.72   1021.28     61.89        1.48
35  278.39    276.95    279.43   1023.51     72.06        2.30
36  279.34    278.38    280.38   1021.70     81.56        2.53
37  278.31    277.26    279.44   1017.22     66.23        2.34
38  280.84    279.43    281.43   1006.07     73.82        4.39
39  285.54    284.14    286.34   1012.43     66.35        3.38
40  288.65    287.37    289.66   1012.98     60.30        2.40
41  293.77    292.03    294.57   1015.53     57.25        2.21
42  298.40    296.86    299.56   1016.17     39.30        2.57
43  300.12    298.76    301.20   1017.26     34.31        2.15
44  297.21    296.02    298.38   1019.54     46.70        1.72
45  289.80    288.97    291.19   1018.72     60.11        1.87
46  282.96    281.82    283.83   1010.58     82.33        2.81
47  279.56    278.64    280.84   1024.86     84.67        1.58

In [14]:
m= cn.insert_mounth_year(m)

In [15]:
m= cn.temp_C (m)
m

    Year Mouth   temp  temp_min  temp_max  pressure  humidity  wind_speed
0   2015   Ene   2.06      2.06      2.06    968.69     75.81        2.18
1   2015   Feb   6.81      6.53      7.18    955.85     75.64        3.64
2   2015   Mar   9.93      9.38     10.63   1009.12     69.54        2.51
3   2015   Abr  13.10     13.10     13.10   1002.34     63.40        2.87
4   2015   May  19.36     19.36     19.36    962.70     45.91        3.32
5   2015   Jun  23.53     22.48     24.74    985.95     42.25        2.32
6   2015   Jul  30.07     28.14     32.47   1016.69     28.42        2.56
7   2015   Ago  25.71     23.39     28.01   1016.25     36.33        2.82
8   2015   Sep  17.33      8.18     21.12   1016.74     45.56        2.50
9   2015   Oct  15.38     14.85     15.96   1016.23     67.57        2.12
10  2015   Nov  11.14     10.93     11.36   1024.23     73.98        1.78
11  2015   Dic   7.15      6.81      7.60   1029.77     77.56        1.12
12  2016   Ene   7.94      7.47      8.47   1021.39     82.85        3.03
13  2016   Feb   7.34      6.26      8.32   1020.04     73.23        3.88
14  2016   Mar   8.55      7.58      9.25   1015.55     61.97        3.18
15  2016   Abr  11.77     10.94     12.85   1013.32     66.61        2.98
16  2016   May  15.73     14.44     17.85   1014.89     60.82        2.55
17  2016   Jun  23.01     20.91     24.69   1016.44     39.28        2.67
18  2016   Jul  27.15     25.84     28.68   1003.76     39.47        2.23
19  2016   Ago  27.33     25.72     29.43   1016.80     29.57        2.57
20  2016   Sep  22.89     21.99     24.67   1017.17     39.02        1.96
21  2016   Oct  14.89     14.80     15.47    971.65     69.42        1.68
22  2016   Nov   9.12      8.34     10.06   1009.33     78.45        1.81
23  2016   Dic   7.54      6.68      8.73   1025.34     82.22        1.56
24  2016   Ene   4.15      2.97      5.26   1020.91     70.90        2.09
25  2016   Feb   7.91      7.02      8.47   1003.62     78.88        2.85
26  2016   Mar  10.40      9.11     11.42   1018.38     64.60        3.01
27  2016   Abr  14.86     13.59     16.05   1019.42     47.39        2.38
28  2016   May  18.60     16.76     19.22   1015.89     49.74        2.57
29  2016   Jun  26.07     24.63     27.27   1016.62     36.91        2.56
30  2016   Jul  25.70     24.07     26.38   1016.66     37.97        2.86
31  2016   Ago  27.05     26.04     28.35   1017.35     29.62        2.20
32  2016   Sep  20.82     19.62     21.93   1018.33     42.71        1.97
33  2016   Oct  18.42     17.21     19.78   1022.93     49.71        1.34
34  2016   Nov   9.95      9.05     11.72   1021.28     61.89        1.48
35  2016   Dic   5.39      3.95      6.43   1023.51     72.06        2.30
36  2018   Ene   6.34      5.38      7.38   1021.70     81.56        2.53
37  2018   Feb   5.31      4.26      6.44   1017.22     66.23        2.34
38  2018   Mar   7.84      6.43      8.43   1006.07     73.82        4.39
39  2018   Abr  12.54     11.14     13.34   1012.43     66.35        3.38
40  2018   May  15.65     14.37     16.66   1012.98     60.30        2.40
41  2018   Jun  20.77     19.03     21.57   1015.53     57.25        2.21
42  2018   Jul  25.40     23.86     26.56   1016.17     39.30        2.57
43  2018   Ago  27.12     25.76     28.20   1017.26     34.31        2.15
44  2018   Sep  24.21     23.02     25.38   1019.54     46.70        1.72
45  2018   Oct  16.80     15.97     18.19   1018.72     60.11        1.87
46  2018   Nov   9.96      8.82     10.83   1010.58     82.33        2.81
47  2018   Dic   6.56      5.64      7.84   1024.86     84.67        1.58

In [16]:
url = 'https://opendata.aemet.es/opendata/api/valores/climatologicos/diarios/datos/fechaini/2019-01-01T00:00:00UTC/fechafin/2019-12-31T23:59:59UTC/estacion/3195'

In [17]:
x=jn.Gen_url('Sevilla')
x

{'descripcion': 'exito',
 'estado': 200,
 'datos': 'https://opendata.aemet.es/opendata/sh/c14e5dd2',
 'metadatos': 'https://opendata.aemet.es/opendata/sh/b3aa9d28'}

In [18]:
p=jn.data_weather(x)
type(p)

pandas.core.frame.DataFrame

In [19]:
p=cn.clean_json(p)
p

     tmed  tmin  tmax presMax presMin velmedia prec
0    10,4   3,1  17,8  1028,6  1025,8      1,1  0,0
1    10,0   2,1  17,8  1027,5  1022,6      1,1  0,0
2    10,4   4,9  15,9  1025,2  1022,0      3,1  0,0
3    10,9   4,6  17,2  1027,6  1023,6      3,9  0,0
4    10,3   3,4  17,2  1030,5  1027,3      1,9  0,0
..    ...   ...   ...     ...     ...      ...  ...
360  16,8  11,8  21,9  1023,0  1020,7      4,4  0,0
361  15,2   9,3  21,0  1024,4  1021,5      3,9  0,0
362  13,8   8,6  19,0  1025,9  1023,1      3,6  0,0
363  11,8   6,8  16,9  1028,4  1025,4      3,3  0,0
364  11,9   7,1  16,7  1028,6  1025,6      3,1  0,0

[365 rows x 7 columns]

In [20]:
p.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   tmed      363 non-null    object
 1   tmin      363 non-null    object
 2   tmax      363 non-null    object
 3   presMax   361 non-null    object
 4   presMin   361 non-null    object
 5   velmedia  364 non-null    object
 6   prec      365 non-null    object
dtypes: object(7)
memory usage: 20.1+ KB

In [21]:
p = p.replace(regex=r'\,', value=".")
p

     tmed  tmin  tmax presMax presMin velmedia prec
0    10.4   3.1  17.8  1028.6  1025.8      1.1  0.0
1    10.0   2.1  17.8  1027.5  1022.6      1.1  0.0
2    10.4   4.9  15.9  1025.2  1022.0      3.1  0.0
3    10.9   4.6  17.2  1027.6  1023.6      3.9  0.0
4    10.3   3.4  17.2  1030.5  1027.3      1.9  0.0
..    ...   ...   ...     ...     ...      ...  ...
360  16.8  11.8  21.9  1023.0  1020.7      4.4  0.0
361  15.2   9.3  21.0  1024.4  1021.5      3.9  0.0
362  13.8   8.6  19.0  1025.9  1023.1      3.6  0.0
363  11.8   6.8  16.9  1028.4  1025.4      3.3  0.0
364  11.9   7.1  16.7  1028.6  1025.6      3.1  0.0

[365 rows x 7 columns]

In [22]:
p.astype(float)

ValueError: could not convert string to float: 'Ip'

In [23]:
p = p.replace('Ip', value="0.1")

In [24]:
p.astype(float)

     tmed  tmin  tmax  presMax  presMin  velmedia  prec
0    10.4   3.1  17.8   1028.6   1025.8       1.1   0.0
1    10.0   2.1  17.8   1027.5   1022.6       1.1   0.0
2    10.4   4.9  15.9   1025.2   1022.0       3.1   0.0
3    10.9   4.6  17.2   1027.6   1023.6       3.9   0.0
4    10.3   3.4  17.2   1030.5   1027.3       1.9   0.0
..    ...   ...   ...      ...      ...       ...   ...
360  16.8  11.8  21.9   1023.0   1020.7       4.4   0.0
361  15.2   9.3  21.0   1024.4   1021.5       3.9   0.0
362  13.8   8.6  19.0   1025.9   1023.1       3.6   0.0
363  11.8   6.8  16.9   1028.4   1025.4       3.3   0.0
364  11.9   7.1  16.7   1028.6   1025.6       3.1   0.0

[365 rows x 7 columns]

In [25]:
p=p.astype(float)
p.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   tmed      363 non-null    float64
 1   tmin      363 non-null    float64
 2   tmax      363 non-null    float64
 3   presMax   361 non-null    float64
 4   presMin   361 non-null    float64
 5   velmedia  364 non-null    float64
 6   prec      365 non-null    float64
dtypes: float64(7)
memory usage: 20.1 KB

In [26]:
#calcular la presion media
p=cn.Pres_m(p)

In [27]:
p

     tmed  tmin  tmax     pres  velmedia  prec
0    10.4   3.1  17.8  1027.20       1.1   0.0
1    10.0   2.1  17.8  1025.05       1.1   0.0
2    10.4   4.9  15.9  1023.60       3.1   0.0
3    10.9   4.6  17.2  1025.60       3.9   0.0
4    10.3   3.4  17.2  1028.90       1.9   0.0
..    ...   ...   ...      ...       ...   ...
360  16.8  11.8  21.9  1021.85       4.4   0.0
361  15.2   9.3  21.0  1022.95       3.9   0.0
362  13.8   8.6  19.0  1024.50       3.6   0.0
363  11.8   6.8  16.9  1026.90       3.3   0.0
364  11.9   7.1  16.7  1027.10       3.1   0.0

[365 rows x 6 columns]

In [28]:
p=cn.inte_nan(p)
p

     tmed  tmin  tmax     pres  velmedia  prec
0    10.4   3.1  17.8  1027.20       1.1   0.0
1    10.0   2.1  17.8  1025.05       1.1   0.0
2    10.4   4.9  15.9  1023.60       3.1   0.0
3    10.9   4.6  17.2  1025.60       3.9   0.0
4    10.3   3.4  17.2  1028.90       1.9   0.0
..    ...   ...   ...      ...       ...   ...
360  16.8  11.8  21.9  1021.85       4.4   0.0
361  15.2   9.3  21.0  1022.95       3.9   0.0
362  13.8   8.6  19.0  1024.50       3.6   0.0
363  11.8   6.8  16.9  1026.90       3.3   0.0
364  11.9   7.1  16.7  1027.10       3.1   0.0

[365 rows x 6 columns]

In [29]:
g=cn.day_a_Mounth (p)

In [30]:
g = cn.redondear(g)
g.reset_index()
g

     tmed   tmin   tmax     pres  velmedia  prec
0   10.61   4.25  17.00  1018.77      2.78  0.92
1   13.24   6.05  20.43  1020.90      2.73  0.02
2   15.88   8.75  23.01  1018.47      3.64  0.17
3   16.18   9.83  22.53  1010.56      3.68  2.44
4   22.85  14.86  30.83  1010.53      3.97  0.00
5   23.96  16.39  31.55  1011.34      4.31  0.00
6   26.82  19.84  33.81  1009.90      4.20  0.00
7   28.29  20.30  36.27  1010.84      3.73  0.00
8   25.74  19.05  32.42  1012.88      3.25  0.11
9   20.87  13.98  27.74  1013.75      2.81  0.25
10  15.05  10.58  19.49  1013.05      3.52  2.07
11  14.11   9.74  18.49  1016.73      3.72  2.68

In [31]:
g=cn.insert_mounth_year_json(g)
g

    Year Mouth   tmed   tmin   tmax     pres  velmedia  prec
0   2019   Ene  10.61   4.25  17.00  1018.77      2.78  0.92
1   2019   Feb  13.24   6.05  20.43  1020.90      2.73  0.02
2   2019   Mar  15.88   8.75  23.01  1018.47      3.64  0.17
3   2019   Abr  16.18   9.83  22.53  1010.56      3.68  2.44
4   2019   May  22.85  14.86  30.83  1010.53      3.97  0.00
5   2019   Jun  23.96  16.39  31.55  1011.34      4.31  0.00
6   2019   Jul  26.82  19.84  33.81  1009.90      4.20  0.00
7   2019   Ago  28.29  20.30  36.27  1010.84      3.73  0.00
8   2019   Sep  25.74  19.05  32.42  1012.88      3.25  0.11
9   2019   Oct  20.87  13.98  27.74  1013.75      2.81  0.25
10  2019   Nov  15.05  10.58  19.49  1013.05      3.52  2.07
11  2019   Dic  14.11   9.74  18.49  1016.73      3.72  2.68

In [32]:
#union(m,g):
g.insert(6, "humidity", np.nan)
m.insert(8, "prec", np.nan)

,Year,Mouth,tmed,tmin,tmax,pres,humidity,velmedia,prec,temp,temp_min,temp_max,pressure,wind_speed
0,2019,Ene,10.61,4.25,17.00,1018.77,NaN,2.78,0.92,NaN,NaN,NaN,NaN,NaN
1,2019,Feb,13.24,6.05,20.43,1020.90,NaN,2.73,0.02,NaN,NaN,NaN,NaN,NaN
2,2019,Mar,15.88,8.75,23.01,1018.47,NaN,3.64,0.17,NaN,NaN,NaN,NaN,NaN
3,2019,Abr,16.18,9.83,22.53,1010.56,NaN,3.68,2.44,NaN,NaN,NaN,NaN,NaN
4,2019,May,22.85,14.86,30.83,1010.53,NaN,3.97,0.00,NaN,NaN,NaN,NaN,NaN
5,2019,Jun,23.96,16.39,31.55,1011.34,NaN,4.31,0.00,NaN,NaN,NaN,NaN,NaN
6,2019,Jul,26.82,19.84,33.81,1009.90,NaN,4.20,0.00,NaN,NaN,NaN,NaN,NaN
7,2019,Ago,28.29,20.30,36.27,1010.84,NaN,3.73,0.00,NaN,NaN,NaN,NaN,NaN
8,2019,Sep,25.74,19.05,32.42,1012.88,NaN,3.25,0.11,NaN,NaN,NaN,NaN,NaN
9,2019,Oct,20.87,13.98,27.74,1013.75,NaN,2.81,0.25,NaN,NaN,NaN,NaN,NaN
10,2019,Nov,15.05,10.58,19.49,1013.05,NaN,3.52,2.07,NaN,NaN,NaN,NaN,NaN
11,2019,Dic,14.11,9.74,18.49,1016.73,NaN,3.72,2.68,NaN,NaN,NaN,NaN,NaN
0,2015,Ene,NaN,NaN,NaN,NaN,75.81,NaN,NaN,2.06,2.06,2.06,968.69,2.18
1,2015,Feb,NaN,NaN,NaN,NaN,75.64,NaN,NaN,6.81,6.53,7.18,955.85,3.64
2,2015,Mar,NaN,NaN,NaN,NaN,69.54,NaN,NaN,9.93,9.38,10.63,1009.12,2.51
3,2015,Abr,NaN,NaN,NaN,NaN,63.40,NaN,NaN,13.10,13.10,13.10,1002.34,2.87
4,2015,May,NaN,NaN,NaN,NaN,45.91,NaN,NaN,19.36,19.36,19.36,962.70,3.32
5,2015,Jun,NaN,NaN,NaN,NaN,42.25,NaN,NaN,23.53,22.48,24.74,985.95,2.32
6,2015,Jul,NaN,NaN,NaN,NaN,28.42,NaN,NaN,30.07,28.14,32.47,1016.69,2.56
7,2015,Ago,NaN,NaN,NaN,NaN,36.33,NaN,NaN,25.71,23.39,28.01,1016.25,2.82
8,2015,Sep,NaN,NaN,NaN,NaN,45.56,NaN,NaN,17.33,8.18,21.12,1016.74,2.50
9,2015,Oct,NaN,NaN,NaN,NaN,67.57,NaN,NaN,15.38,14.85,15.96,1016.23,2.12
10,2015,Nov,NaN,NaN,NaN,NaN,73.98,NaN,NaN,11.14,10.93,11.36,1024.23,1.78
11,2015,Dic,NaN,NaN,NaN,NaN,77.56,NaN,NaN,7.15,6.81,7.60,1029.77,1.12
12,2016,Ene,NaN,NaN,NaN,NaN,82.85,NaN,NaN,7.94,7.47,8.47,1021.39,3.03
13,2016,Feb,NaN,NaN,NaN,NaN,73.23,NaN,NaN,7.34,6.26,8.32,1020.04,3.88
14,2016,Mar,NaN,NaN,NaN,NaN,61.97,NaN,NaN,8.55,7.58,9.25,1015.55,3.18
15,2016,Abr,NaN,NaN,NaN,NaN,66.61,NaN,NaN,11.77,10.94,12.85,1013.32,2.98
16,2016,May,NaN,NaN,NaN,NaN,60.82,NaN,NaN,15.73,14.44,17.85,1014.89,2.55
17,2016,Jun,NaN,NaN,NaN,NaN,39.28,NaN,NaN,23.01,20.91,24.69,1016.44,2.67
18,2016,Jul,NaN,NaN,NaN,NaN,39.47,NaN,NaN,27.15,25.84,28.68,1003.76,2.23
19,2016,Ago,NaN,NaN,NaN,NaN,29.57,NaN,NaN,27.33,25.72,29.43,1016.80,2.57
20,2016,Sep,NaN,NaN,NaN,NaN,39.02,NaN,NaN,22.89,21.99,24.67,1017.17,1.96
21,2016,Oct,NaN,NaN,NaN,NaN,69.42,NaN,NaN,14.89,14.80,15.47,971.65,1.68
22,2016,Nov,NaN,NaN,NaN,NaN,78.45,NaN,NaN,9.12,8.34,10.06,1009.33,1.81
23,2016,Dic,NaN,NaN,NaN,NaN,82.22,NaN,NaN,7.54,6.68,8.73,1025.34,1.56
24,2016,Ene,NaN,NaN,NaN,NaN,70.90,NaN,NaN,4.15,2.97,5.26,1020.91,2.09
25,2016,Feb,NaN,NaN,NaN,NaN,78.88,NaN,NaN,7.91,7.02,8.47,1003.62,2.85
26,2016,Mar,NaN,NaN,NaN,NaN,64.60,NaN,NaN,10.40,9.11,11.42,1018.38,3.01
27,2016,Abr,NaN,NaN,NaN,NaN,47.39,NaN,NaN,14.86,13.59,16.05,1019.42,2.38
28,2016,May,NaN,NaN,NaN,NaN,49.74,NaN,NaN,18.60,16.76,19.22,1015.89,2.57
29,2016,Jun,NaN,NaN,NaN,NaN,36.91,NaN,NaN,26.07,24.63,27.27,1016.62,2.56
30,2016,Jul,NaN,NaN,NaN,NaN,37.97,NaN,NaN,25.70,24.07,26.38,1016.66,2.86
31,2016,Ago,NaN,NaN,NaN,NaN,29.62,NaN,NaN,27.05,26.04,28.35,1017.35,2.20
32,2016,Sep,NaN,NaN,NaN,NaN,42.71,NaN,NaN,20.82,19.62,21.93,1018.33,1.97
33,2016,Oct,NaN,NaN,NaN,NaN,49.71,NaN,NaN,18.42,17.21,19.78,1022.93,1.34
34,2016,Nov,NaN,NaN,NaN,NaN,61.89,NaN,NaN,9.95,9.05,11.72,1021.28,1.48
35,2016,Dic,NaN,NaN,NaN,NaN,72.06,NaN,NaN,5.39,3.95,6.43,1023.51,2.30
36,2018,Ene,NaN,NaN,NaN,NaN,81.56,NaN,NaN,6.34,5.38,7.38,1021.70,2.53
37,2018,Feb,NaN,NaN,NaN,NaN,66.23,NaN,NaN,5.31,4.26,6.44,1017.22,2.34
38,2018,Mar,NaN,NaN,NaN,NaN,73.82,NaN,NaN,7.84,6.43,8.43,1006.07,4.39
39,2018,Abr,NaN,NaN,NaN,NaN,66.35,NaN,NaN,12.54,11.14,13.34,1012.43,3.38
40,2018,May,NaN,NaN,NaN,NaN,60.30,NaN,NaN,15.65,14.37,16.66,1012.98,2.40
41,2018,Jun,NaN,NaN,NaN,NaN,57.25,NaN,NaN,20.77,19.03,21.57,1015.53,2.21
42,2018,Jul,NaN,NaN,NaN,NaN,39.30,NaN,NaN,25.40,23.86,26.56,1016.17,2.57
43,2018,Ago,NaN,NaN,NaN,NaN,34.31,NaN,NaN,27.12,25.76,28.20,1017.26,2.15
44,2018,Sep,NaN,NaN,NaN,NaN,46.70,NaN,NaN,24.21,23.02,25.38,1019.54,1.72
45,2018,Oct,NaN,NaN,NaN,NaN,60.11,NaN,NaN,16.80,15.97,18.19,1018.72,1.87
46,2018,Nov,NaN,NaN,NaN,NaN,82.33,NaN,NaN,9.96,8.82,10.83,1010.58,2.81
47,2018,Dic,NaN,NaN,NaN,NaN,84.67,NaN,NaN,6.56,5.64,7.84,1024.86,1.58

In [36]:
#union(m,g):
g.columns = ['Year', 'Mounth', 'temp', 'temp_min', 'temp_max', 'pressure', 'humidity', 'wind_speed', 'Precip']
g

,Year,Mounth,temp,temp_min,temp_max,pressure,humidity,wind_speed,Precip
0,2019,Ene,10.61,4.25,17.00,1018.77,NaN,2.78,0.92
1,2019,Feb,13.24,6.05,20.43,1020.90,NaN,2.73,0.02
2,2019,Mar,15.88,8.75,23.01,1018.47,NaN,3.64,0.17
3,2019,Abr,16.18,9.83,22.53,1010.56,NaN,3.68,2.44
4,2019,May,22.85,14.86,30.83,1010.53,NaN,3.97,0.00
5,2019,Jun,23.96,16.39,31.55,1011.34,NaN,4.31,0.00
6,2019,Jul,26.82,19.84,33.81,1009.90,NaN,4.20,0.00
7,2019,Ago,28.29,20.30,36.27,1010.84,NaN,3.73,0.00
8,2019,Sep,25.74,19.05,32.42,1012.88,NaN,3.25,0.11
9,2019,Oct,20.87,13.98,27.74,1013.75,NaN,2.81,0.25
10,2019,Nov,15.05,10.58,19.49,1013.05,NaN,3.52,2.07
11,2019,Dic,14.11,9.74,18.49,1016.73,NaN,3.72,2.68

In [38]:
#union(m,g):
m.columns = ['Year', 'Mounth', 'temp', 'temp_min', 'temp_max', 'pressure', 'humidity', 'wind_speed', 'Precip']
m

,Year,Mounth,temp,temp_min,temp_max,pressure,humidity,wind_speed,Precip
0,2015,Ene,2.06,2.06,2.06,968.69,75.81,2.18,NaN
1,2015,Feb,6.81,6.53,7.18,955.85,75.64,3.64,NaN
2,2015,Mar,9.93,9.38,10.63,1009.12,69.54,2.51,NaN
3,2015,Abr,13.10,13.10,13.10,1002.34,63.40,2.87,NaN
4,2015,May,19.36,19.36,19.36,962.70,45.91,3.32,NaN
5,2015,Jun,23.53,22.48,24.74,985.95,42.25,2.32,NaN
6,2015,Jul,30.07,28.14,32.47,1016.69,28.42,2.56,NaN
7,2015,Ago,25.71,23.39,28.01,1016.25,36.33,2.82,NaN
8,2015,Sep,17.33,8.18,21.12,1016.74,45.56,2.50,NaN
9,2015,Oct,15.38,14.85,15.96,1016.23,67.57,2.12,NaN
10,2015,Nov,11.14,10.93,11.36,1024.23,73.98,1.78,NaN
11,2015,Dic,7.15,6.81,7.60,1029.77,77.56,1.12,NaN
12,2016,Ene,7.94,7.47,8.47,1021.39,82.85,3.03,NaN
13,2016,Feb,7.34,6.26,8.32,1020.04,73.23,3.88,NaN
14,2016,Mar,8.55,7.58,9.25,1015.55,61.97,3.18,NaN
15,2016,Abr,11.77,10.94,12.85,1013.32,66.61,2.98,NaN
16,2016,May,15.73,14.44,17.85,1014.89,60.82,2.55,NaN
17,2016,Jun,23.01,20.91,24.69,1016.44,39.28,2.67,NaN
18,2016,Jul,27.15,25.84,28.68,1003.76,39.47,2.23,NaN
19,2016,Ago,27.33,25.72,29.43,1016.80,29.57,2.57,NaN
20,2016,Sep,22.89,21.99,24.67,1017.17,39.02,1.96,NaN
21,2016,Oct,14.89,14.80,15.47,971.65,69.42,1.68,NaN
22,2016,Nov,9.12,8.34,10.06,1009.33,78.45,1.81,NaN
23,2016,Dic,7.54,6.68,8.73,1025.34,82.22,1.56,NaN
24,2016,Ene,4.15,2.97,5.26,1020.91,70.90,2.09,NaN
25,2016,Feb,7.91,7.02,8.47,1003.62,78.88,2.85,NaN
26,2016,Mar,10.40,9.11,11.42,1018.38,64.60,3.01,NaN
27,2016,Abr,14.86,13.59,16.05,1019.42,47.39,2.38,NaN
28,2016,May,18.60,16.76,19.22,1015.89,49.74,2.57,NaN
29,2016,Jun,26.07,24.63,27.27,1016.62,36.91,2.56,NaN
30,2016,Jul,25.70,24.07,26.38,1016.66,37.97,2.86,NaN
31,2016,Ago,27.05,26.04,28.35,1017.35,29.62,2.20,NaN
32,2016,Sep,20.82,19.62,21.93,1018.33,42.71,1.97,NaN
33,2016,Oct,18.42,17.21,19.78,1022.93,49.71,1.34,NaN
34,2016,Nov,9.95,9.05,11.72,1021.28,61.89,1.48,NaN
35,2016,Dic,5.39,3.95,6.43,1023.51,72.06,2.30,NaN
36,2018,Ene,6.34,5.38,7.38,1021.70,81.56,2.53,NaN
37,2018,Feb,5.31,4.26,6.44,1017.22,66.23,2.34,NaN
38,2018,Mar,7.84,6.43,8.43,1006.07,73.82,4.39,NaN
39,2018,Abr,12.54,11.14,13.34,1012.43,66.35,3.38,NaN
40,2018,May,15.65,14.37,16.66,1012.98,60.30,2.40,NaN
41,2018,Jun,20.77,19.03,21.57,1015.53,57.25,2.21,NaN
42,2018,Jul,25.40,23.86,26.56,1016.17,39.30,2.57,NaN
43,2018,Ago,27.12,25.76,28.20,1017.26,34.31,2.15,NaN
44,2018,Sep,24.21,23.02,25.38,1019.54,46.70,1.72,NaN
45,2018,Oct,16.80,15.97,18.19,1018.72,60.11,1.87,NaN
46,2018,Nov,9.96,8.82,10.83,1010.58,82.33,2.81,NaN
47,2018,Dic,6.56,5.64,7.84,1024.86,84.67,1.58,NaN

In [45]:
data_final2=pd.concat([m,g])

In [48]:
data_final2.reset_index(drop=True)

,Year,Mounth,temp,temp_min,temp_max,pressure,humidity,wind_speed,Precip
0,2015,Ene,2.06,2.06,2.06,968.69,75.81,2.18,NaN
1,2015,Feb,6.81,6.53,7.18,955.85,75.64,3.64,NaN
2,2015,Mar,9.93,9.38,10.63,1009.12,69.54,2.51,NaN
3,2015,Abr,13.10,13.10,13.10,1002.34,63.40,2.87,NaN
4,2015,May,19.36,19.36,19.36,962.70,45.91,3.32,NaN
5,2015,Jun,23.53,22.48,24.74,985.95,42.25,2.32,NaN
6,2015,Jul,30.07,28.14,32.47,1016.69,28.42,2.56,NaN
7,2015,Ago,25.71,23.39,28.01,1016.25,36.33,2.82,NaN
8,2015,Sep,17.33,8.18,21.12,1016.74,45.56,2.50,NaN
9,2015,Oct,15.38,14.85,15.96,1016.23,67.57,2.12,NaN
10,2015,Nov,11.14,10.93,11.36,1024.23,73.98,1.78,NaN
11,2015,Dic,7.15,6.81,7.60,1029.77,77.56,1.12,NaN
12,2016,Ene,7.94,7.47,8.47,1021.39,82.85,3.03,NaN
13,2016,Feb,7.34,6.26,8.32,1020.04,73.23,3.88,NaN
14,2016,Mar,8.55,7.58,9.25,1015.55,61.97,3.18,NaN
15,2016,Abr,11.77,10.94,12.85,1013.32,66.61,2.98,NaN
16,2016,May,15.73,14.44,17.85,1014.89,60.82,2.55,NaN
17,2016,Jun,23.01,20.91,24.69,1016.44,39.28,2.67,NaN
18,2016,Jul,27.15,25.84,28.68,1003.76,39.47,2.23,NaN
19,2016,Ago,27.33,25.72,29.43,1016.80,29.57,2.57,NaN
20,2016,Sep,22.89,21.99,24.67,1017.17,39.02,1.96,NaN
21,2016,Oct,14.89,14.80,15.47,971.65,69.42,1.68,NaN
22,2016,Nov,9.12,8.34,10.06,1009.33,78.45,1.81,NaN
23,2016,Dic,7.54,6.68,8.73,1025.34,82.22,1.56,NaN
24,2016,Ene,4.15,2.97,5.26,1020.91,70.90,2.09,NaN
25,2016,Feb,7.91,7.02,8.47,1003.62,78.88,2.85,NaN
26,2016,Mar,10.40,9.11,11.42,1018.38,64.60,3.01,NaN
27,2016,Abr,14.86,13.59,16.05,1019.42,47.39,2.38,NaN
28,2016,May,18.60,16.76,19.22,1015.89,49.74,2.57,NaN
29,2016,Jun,26.07,24.63,27.27,1016.62,36.91,2.56,NaN
30,2016,Jul,25.70,24.07,26.38,1016.66,37.97,2.86,NaN
31,2016,Ago,27.05,26.04,28.35,1017.35,29.62,2.20,NaN
32,2016,Sep,20.82,19.62,21.93,1018.33,42.71,1.97,NaN
33,2016,Oct,18.42,17.21,19.78,1022.93,49.71,1.34,NaN
34,2016,Nov,9.95,9.05,11.72,1021.28,61.89,1.48,NaN
35,2016,Dic,5.39,3.95,6.43,1023.51,72.06,2.30,NaN
36,2018,Ene,6.34,5.38,7.38,1021.70,81.56,2.53,NaN
37,2018,Feb,5.31,4.26,6.44,1017.22,66.23,2.34,NaN
38,2018,Mar,7.84,6.43,8.43,1006.07,73.82,4.39,NaN
39,2018,Abr,12.54,11.14,13.34,1012.43,66.35,3.38,NaN
40,2018,May,15.65,14.37,16.66,1012.98,60.30,2.40,NaN
41,2018,Jun,20.77,19.03,21.57,1015.53,57.25,2.21,NaN
42,2018,Jul,25.40,23.86,26.56,1016.17,39.30,2.57,NaN
43,2018,Ago,27.12,25.76,28.20,1017.26,34.31,2.15,NaN
44,2018,Sep,24.21,23.02,25.38,1019.54,46.70,1.72,NaN
45,2018,Oct,16.80,15.97,18.19,1018.72,60.11,1.87,NaN
46,2018,Nov,9.96,8.82,10.83,1010.58,82.33,2.81,NaN
47,2018,Dic,6.56,5.64,7.84,1024.86,84.67,1.58,NaN
48,2019,Ene,10.61,4.25,17.00,1018.77,NaN,2.78,0.92
49,2019,Feb,13.24,6.05,20.43,1020.90,NaN,2.73,0.02
50,2019,Mar,15.88,8.75,23.01,1018.47,NaN,3.64,0.17
51,2019,Abr,16.18,9.83,22.53,1010.56,NaN,3.68,2.44
52,2019,May,22.85,14.86,30.83,1010.53,NaN,3.97,0.00
53,2019,Jun,23.96,16.39,31.55,1011.34,NaN,4.31,0.00
54,2019,Jul,26.82,19.84,33.81,1009.90,NaN,4.20,0.00
55,2019,Ago,28.29,20.30,36.27,1010.84,NaN,3.73,0.00
56,2019,Sep,25.74,19.05,32.42,1012.88,NaN,3.25,0.11
57,2019,Oct,20.87,13.98,27.74,1013.75,NaN,2.81,0.25
58,2019,Nov,15.05,10.58,19.49,1013.05,NaN,3.52,2.07
59,2019,Dic,14.11,9.74,18.49,1016.73,NaN,3.72,2.68