In [208]:
import pandas as pd
import re
from ../src.clean' import indice as ind
pd.set_option("display.max_rows", 120)
pd.set_option("display.max_columns", 30)

SyntaxError: invalid syntax (<ipython-input-208-a647b3514f74>, line 3)

In [184]:
#Abrimosel archivo para observar los datos que tenemos en el archivo attacks.csv
df_weather=pd.read_csv("../input/weather_features.csv",encoding='cp1252')
df_weather

,dt_iso,city_name,temp,temp_min,temp_max,pressure,humidity,wind_speed,wind_deg,rain_1h,rain_3h,snow_3h,clouds_all,weather_id,weather_main,weather_description,weather_icon
0,2015-01-01 00:00:00+01:00,Valencia,270.475,270.475,270.475,1001,77,1,62,0.0,0.0,0.0,0,800,clear,sky is clear,01n
1,2015-01-01 01:00:00+01:00,Valencia,270.475,270.475,270.475,1001,77,1,62,0.0,0.0,0.0,0,800,clear,sky is clear,01n
2,2015-01-01 02:00:00+01:00,Valencia,269.686,269.686,269.686,1002,78,0,23,0.0,0.0,0.0,0,800,clear,sky is clear,01n
3,2015-01-01 03:00:00+01:00,Valencia,269.686,269.686,269.686,1002,78,0,23,0.0,0.0,0.0,0,800,clear,sky is clear,01n
4,2015-01-01 04:00:00+01:00,Valencia,269.686,269.686,269.686,1002,78,0,23,0.0,0.0,0.0,0,800,clear,sky is clear,01n
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
178391,2018-12-31 19:00:00+01:00,Seville,287.760,287.150,288.150,1028,54,3,30,0.0,0.0,0.0,0,800,clear,sky is clear,01n
178392,2018-12-31 20:00:00+01:00,Seville,285.760,285.150,286.150,1029,62,3,30,0.0,0.0,0.0,0,800,clear,sky is clear,01n
178393,2018-12-31 21:00:00+01:00,Seville,285.150,285.150,285.150,1028,58,4,50,0.0,0.0,0.0,0,800,clear,sky is clear,01n
178394,2018-12-31 22:00:00+01:00,Seville,284.150,284.150,284.150,1029,57,4,60,0.0,0.0,0.0,0,800,clear,sky is clear,01n
178395,2018-12-31 23:00:00+01:00,Seville,283.970,282.150,285.150,1029,70,3,50,0.0,0.0,0.0,0,800,clear,sky is clear,01n

In [185]:
df_weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178396 entries, 0 to 178395
Data columns (total 17 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   dt_iso               178396 non-null  object
 1   city_name            178396 non-null  object
 2   temp                 178396 non-null  float64
 3   temp_min             178396 non-null  float64
 4   temp_max             178396 non-null  float64
 5   pressure             178396 non-null  int64
 6   humidity             178396 non-null  int64
 7   wind_speed           178396 non-null  int64
 8   wind_deg             178396 non-null  int64
 9   rain_1h              178396 non-null  float64
 10  rain_3h              178396 non-null  float64
 11  snow_3h              178396 non-null  float64
 12  clouds_all           178396 non-null  int64
 13  weather_id           178396 non-null  int64
 14  weather_main         178396 non-null  object
 15  weather_description  178396 non-null  object
 16  weather_icon         178396 non-null  object
dtypes: float64(6), int64(6), object(5)
memory usage: 23.1+ MB

In [145]:
df_weather['city_name'].unique()

array(['Valencia', 'Madrid', 'Bilbao', ' Barcelona', 'Seville'],
      dtype=object)

In [191]:
cn.indice(df_weather['city_name'])



# x = df_weather['city_name']
# y=x.unique()
# count=0
# c=1
# indice=[]
# for i in x:
#     count +=1
#     if i == y[c]:
#         indice.append(x.index[count-1])
#         c+=1
#         if c == 5:
#             c=0
# indice

NameError: name 'cn' is not defined

In [153]:
df_weather[df_weather.index == 107362]
df_weather[df_weather.index == 107363]

,dt_iso,city_name,temp,temp_min,temp_max,pressure,humidity,wind_speed,wind_deg,rain_1h,rain_3h,snow_3h,clouds_all,weather_id,weather_main,weather_description,weather_icon
107363,2015-01-01 00:00:00+01:00,Barcelona,281.625,281.625,281.625,1035,100,7,58,0.0,0.0,0.0,0,800,clear,sky is clear,01n

In [154]:
df_weather_valencia = df_weather[:35145].reset_index()
df_weather_madrid = df_weather[35145:71412].reset_index()
df_weather_bilbao = df_weather[71412:107363].reset_index()
df_weather_barcelona = df_weather[107363:142839].reset_index()
df_weather_sevilla = df_weather[142839:].reset_index()

In [156]:
df_weather_valencia.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35145 entries, 0 to 35144
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   index                35145 non-null  int64
 1   dt_iso               35145 non-null  object
 2   city_name            35145 non-null  object
 3   temp                 35145 non-null  float64
 4   temp_min             35145 non-null  float64
 5   temp_max             35145 non-null  float64
 6   pressure             35145 non-null  int64
 7   humidity             35145 non-null  int64
 8   wind_speed           35145 non-null  int64
 9   wind_deg             35145 non-null  int64
 10  rain_1h              35145 non-null  float64
 11  rain_3h              35145 non-null  float64
 12  snow_3h              35145 non-null  float64
 13  clouds_all           35145 non-null  int64
 14  weather_id           35145 non-null  int64
 15  weather_main         35145 non-null  object
 16  weather_description  35145 non-null  object
 17  weather_icon         35145 non-null  object
dtypes: float64(6), int64(7), object(5)
memory usage: 4.8+ MB

In [157]:
df_weather_madrid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36267 entries, 0 to 36266
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   index                36267 non-null  int64
 1   dt_iso               36267 non-null  object
 2   city_name            36267 non-null  object
 3   temp                 36267 non-null  float64
 4   temp_min             36267 non-null  float64
 5   temp_max             36267 non-null  float64
 6   pressure             36267 non-null  int64
 7   humidity             36267 non-null  int64
 8   wind_speed           36267 non-null  int64
 9   wind_deg             36267 non-null  int64
 10  rain_1h              36267 non-null  float64
 11  rain_3h              36267 non-null  float64
 12  snow_3h              36267 non-null  float64
 13  clouds_all           36267 non-null  int64
 14  weather_id           36267 non-null  int64
 15  weather_main         36267 non-null  object
 16  weather_description  36267 non-null  object
 17  weather_icon         36267 non-null  object
dtypes: float64(6), int64(7), object(5)
memory usage: 5.0+ MB

In [160]:
24*365*4 == 35145

False

In [161]:
24*365*3+(24*366) == 35145

False

In [162]:
df_weather_valencia2=df_weather_valencia.drop_duplicates(subset=['dt_iso'], keep='last')
df_weather_madrid2=df_weather_madrid.drop_duplicates(subset=['dt_iso'], keep='last')
df_weather_bilbao2=df_weather_bilbao.drop_duplicates(subset=['dt_iso'], keep='last')
df_weather_barcelona2=df_weather_barcelona.drop_duplicates(subset=['dt_iso'], keep='last')
df_weather_sevilla2=df_weather_sevilla.drop_duplicates(subset=['dt_iso'], keep='last')

In [167]:
len(df_weather_valencia2.index) == len(df_weather_madrid2.index) == len(df_weather_bilbao2.index) == len(df_weather_barcelona2.index) == len(df_weather_sevilla2.index)

True

In [168]:
len(df_weather_valencia2.index) == 24*365*3+(24*366)

True

In [168]:
#con los datos que voy a trabajar

#temp(K)	temp_min(K)	temp_max(K)	pressure(hPa) humidity(%) wind_speed(m/s)

True

In [178]:
#Abrimosel archivo para observar los datos que tenemos en el archivo attacks.csv
#lista de dias meses
#['31', '28', '30', '31', '30', '31', '30', '31', '30', '31', '30', '31']
temps=0
x=0
new=[]
for i in df_weather_valencia2['temp']:
    temps += i
    x += 1
    if x == 24:
        new.append(temps/24)
        x=0
        temps=0
print(len(new))
new

1461

[275.9555703125,
 276.7388333333333,
 279.0440104166667,
 279.36666666666673,
 278.7405208333334,
 278.10953515625005,
 280.368890625,
 280.7863750000001,
 281.60479557291677,
 286.9811315104167,
 286.55693098958335,
 282.97916666666674,
 284.6708333333334,
 286.18333333333334,
 285.5436601562501,
 284.5834869791667,
 281.27916666666664,
 279.99375,
 279.1217278645833,
 277.94166666666666,
 279.23120703125005,
 280.68879166666665,
 281.4128958333333,
 281.18822265625005,
 284.22493749999995,
 280.2894999999999,
 282.31252083333334,
 281.9505377604167,
 283.7867460937501,
 289.1081744791667,
 284.7208125,
 280.3358125,
 280.48789583333337,
 282.58867838541664,
 278.81250000000006,
 278.57656249999997,
 277.54621484374996,
 276.2583333333334,
 277.9331041666666,
 278.558375,
 281.01875,
 281.4811458333333,
 281.34583333333336,
 283.89254166666666,
 285.55833333333334,
 287.2969817708333,
 285.52334765625,
 283.32024869791667,
 283.3847708333334,
 282.7303541666666,
 283.6390416666667,
 283.1020833333334,
 284.675,
 286.91249999999997,
 284.375,
 286.4428541666666,
 289.5757083333333,
 285.40683723958335,
 284.0319375000001,
 288.9618333333333,
 290.35812500000014,
 288.29791666666677,
 287.971375,
 285.0869166666667,
 283.36710416666665,
 286.0438541666667,
 283.5555000000001,
 285.47949999999986,
 285.1759622395834,
 285.0857447916666,
 286.5743346354167,
 283.2720638020833,
 281.68519921875003,
 280.2486184895834,
 279.9670338541667,
 279.04847526041664,
 281.4995221354167,
 283.0662161458334,
 283.39112630208336,
 284.0183841145833,
 282.6848450520833,
 282.7377486979167,
 283.3698111979167,
 280.20237760416666,
 282.76903776041667,
 289.1424388020833,
 291.01772395833336,
 289.04537109375,
 293.1359999999999,
 291.8332864583333,
 288.39675130208326,
 286.0269075520833,
 287.42292578125006,
 286.0707096354167,
 285.27729817708337,
 285.0001666666667,
 283.0933815104167,
 283.09922005208335,
 282.2533763020833,
 283.3525481770833,
 282.6313984375,
 284.7192447916666,
 284.7017604166667,
 285.3810598958333,
 286.0861809895833,
 288.0804296875,
 290.51571744791664,
 288.12183463541663,
 288.3622786458334,
 285.9447239583333,
 285.68661067708337,
 286.3049375000001,
 287.7362916666667,
 289.31895833333346,
 292.31639583333333,
 291.3609583333333,
 290.61026953125,
 290.1206328125,
 289.6704375000001,
 289.70375000000007,
 294.24850000000004,
 295.97702083333337,
 296.5228541666667,
 294.75079166666677,
 295.0820833333333,
 292.04377083333327,
 289.74608333333333,
 292.67243749999994,
 292.7295000000001,
 290.89008333333334,
 289.91397916666665,
 291.56316666666663,
 295.16956250000004,
 301.9927083333333,
 295.5958333333334,
 292.95668750000004,
 291.8378125,
 291.6104375,
 288.4559583333334,
 288.41075,
 288.7070416666666,
 287.3551875,
 289.1308125,
 288.87370833333335,
 290.9583125000001,
 291.92853125000005,
 291.09945833333336,
 290.9545,
 290.579,
 291.7485416666668,
 291.899375,
 293.53124999999994,
 295.2866666666667,
 295.1512916666666,
 292.4702499999999,
 293.5167083333333,
 293.6814583333333,
 293.73529166666674,
 295.3420833333333,
 297.565,
 296.2879166666667,
 293.4139166666666,
 294.83,
 292.85075,
 292.7370416666667,
 292.4303749999999,
 292.8258333333334,
 294.1254166666667,
 295.0229166666668,
 296.4287083333334,
 295.0067083333333,
 295.63241666666664,
 297.2207916666666,
 297.319875,
 295.2330416666667,
 295.2349583333333,
 299.4916666666666,
 300.45125,
 300.25875,
 299.3620833333333,
 299.91999999999996,
 298.85166666666663,
 298.6054166666667,
 298.8608333333333,
 299.5958333333333,
 300.6408333333334,
 301.2104166666666,
 303.1825,
 301.17791666666665,
 299.3116666666666,
 300.22,
 298.6237500000001,
 299.6266666666667,
 300.20166666666665,
 300.0841666666667,
 299.49375,
 300.3066666666667,
 300.5366666666667,
 299.5408333333333,
 299.48375000000004,
 300.24541666666664,
 301.08,
 300.20666666666665,
 299.82875,
 302.5945833333334,
 300.3016666666666,
 300.80375,
 301.55166666666673,
 300.5308333333333,
 301.1516666666667,
 299.04375,
 298.10999999999996,
 296.01916666666676,
 297.76208333333335,
 299.68166666666673,
 300.105,
 300.46458333333334,
 300.37875,
 301.30083333333334,
 298.3012499999999,
 297.27166666666665,
 298.69541666666663,
 299.92958333333337,
 300.18,
 301.23999999999995,
 298.44458333333336,
 295.45374999999996,
 296.1308333333333,
 297.53249999999997,
 296.32624999999996,
 296.83750000000003,
 298.74625,
 298.64375,
 297.7491666666667,
 298.79999999999995,
 298.45249999999993,
 297.3233333333333,
 298.0308333333333,
 298.8891666666667,
 298.80041666666665,
 298.6379166666666,
 298.57125,
 298.57708333333335,
 297.27662499999997,
 297.15708333333333,
 296.96125,
 293.7866666666667,
 293.28000000000003,
 292.4833333333333,
 291.8491666666667,
 292.69499999999994,
 293.39375,
 295.6516666666667,
 296.59749999999997,
 295.2029166666666,
 296.62583333333333,
 296.74708333333336,
 295.78875,
 297.78791666666666,
 295.40500000000003,
 292.9920833333333,
 293.4754166666667,
 294.6308333333333,
 295.3183333333333,
 294.84916666666675,
 294.2925000000001,
 293.35041666666666,
 293.90458333333333,
 292.9508333333333,
 291.4408333333333,
 290.4008333333333,
 289.94583333333327,
 291.74458333333337,
 291.8825,
 292.27625,
 292.51375,
 293.53666666666663,
 296.11083333333335,
 295.57625,
 292.35041666666666,
 290.085,
 291.34625,
 290.7004166666666,
 292.0154166666667,
 292.77916666666664,
 289.4629166666666,
 288.14833333333337,
 286.73708333333326,
 288.97916666666663,
 291.91791666666654,
 293.81666666666655,
 292.48333333333323,
 289.99499999999995,
 287.4354166666666,
 287.2183333333333,
 288.4895833333332,
 289.94166666666655,
 290.94166666666655,
 291.19166666666655,
 291.37916666666655,
 290.43268749999993,
 292.1969583333332,
 290.36983333333325,
 290.56458333333325,
 291.0017916666666,
 289.38854166666664,
 288.4024166666666,
 290.11956249999986,
 292.6651041666666,
 290.9526666666665,
 290.26612499999993,
 289.0852499999999,
 287.92887499999995,
 287.81858333333327,
 287.6042083333333,
 286.897,
 288.7692083333332,
 288.2095833333332,
 286.4527499999999,
 286.53985546875,
 286.3353541666666,
 285.8785768229166,
 287.59849999999994,
 290.5473541666666,
 289.93422916666657,
 284.1308958333332,
 280.64247916666653,
 281.85189583333323,
 287.6065833333332,
 289.7711249999999,
 287.8372291666666,
 286.34445833333325,
 283.0063333333332,
 282.5679583333333,
 282.00162499999993,
 281.67683333333326,
 282.43031380208333,
 283.16960416666655,
 284.18852083333326,
 286.7808333333332,
 286.9002291666666,
 286.0175416666666,
 286.4464856770832,
 286.23101432291656,
 285.42324999999994,
 285.8442916666666,
 285.34872916666666,
 284.94979947916653,
 287.3238828124999,
 286.6569453124999,
 285.0393333333332,
 283.38062500000007,
 283.0690416666667,
 282.8702291666667,
 282.29675,
 282.856375,
 281.8192083333333,
 283.3389583333333,
 281.95272916666664,
 283.22916666666674,
 281.913125,
 284.25425,
 284.6706666666667,
 283.02425,
 285.6825416666666,
 286.0131666666667,
 285.3027083333333,
 283.9725,
 289.15479166666665,
 284.3889166666667,
 281.49210416666665,
 286.9863333333332,
 287.5623958333333,
 287.49354166666666,
 288.286,
 289.5307291666666,
 284.8982291666667,
 282.766,
 285.9154166666667,
 284.8127083333334,
 282.12125,
 279.2517291666667,
 284.20225000000005,
 283.15504166666665,
 283.0535416666667,
 282.9279583333333,
 283.5933333333333,
 284.9395833333333,
 284.78172916666665,
 285.27345833333334,
 285.29224999999997,
 285.9584166666667,
 286.07531250000005,
 286.4010416666667,
 286.1555286458333,
 287.2188697916666,
 287.2853958333333,
 285.1493750000001,
 285.4613125000001,
 282.3562708333333,
 282.241875,
 285.1625,
 286.83833333333337,
 287.58500000000004,
 289.1383333333333,
 290.6372083333333,
 290.0629375,
 290.3507565104166,
 292.82845833333334,
 288.0726666666667,
 284.0449999999999,
 280.84577734375006,
 280.25636718749996,
 283.2947565104167,
 281.97443880208334,
 281.12795703125,
 282.60791666666665,
 287.0955833333333,
 287.70291666666674,
 286.9158333333334,
 288.1441666666667,
 285.40399999999994,
 282.1203333333333,
 284.1859166666666,
 285.695625,
 285.18312499999996,
 289.53564583333343,
 287.901875,
 287.9857291666667,
 286.0273177083333,
 284.3107708333334,
 281.6577291666667,
 283.2455833333334,
 283.67300781250003,
 283.52253515625,
 283.4629375,
 282.562875,
 282.97362499999997,
 283.7513333333333,
 283.95472916666665,
 285.1054166666667,
 283.9165,
 285.046875,
 285.3641666666666,
 285.5466666666666,
 285.0296875,
 286.29370833333337,
 286.55470833333334,
 286.18331249999994,
 289.1850208333333,
 290.4097083333333,
 290.73347916666665,
 289.2991666666667,
 291.64283333333333,
 287.86666666666673,
 288.27193750000004,
 285.2741458333333,
 286.1147083333333,
 287.4982916666667,
 287.711,
 286.16229166666665,
 289.1820416666667,
 289.7191666666667,
 288.60724999999996,
 289.73339583333336,
 289.68700000000007,
 290.00662500000004,
 290.547,
 291.7263541666666,
 291.551875,
 290.5749375,
 293.64562499999994,
 293.1803333333333,
 289.28995833333335,
 287.98493749999994,
 288.4141666666665,
 290.8858333333333,
 288.6495833333333,
 289.55839583333335,
 289.6558333333333,
 287.40312500000005,
 289.1920638020834,
 287.97895833333337,
 286.17171875,
 285.53208333333333,
 288.49083333333334,
 286.69999999999993,
 287.96750000000003,
 290.82083333333327,
 289.97,
 287.76416666666665,
 288.25583333333344,
 288.7416666666666,
 287.4725,
 287.29583333333335,
 286.2475,
 289.93125000000003,
 289.9604166666666,
 289.74,
 291.5925,
 292.24583333333334,
 291.22541666666666,
 290.29875,
 291.9320833333333,
 293.195,
 292.7345833333334,
 292.39750000000004,
 294.00249999999994,
 290.9254166666666,
 291.6739583333333,
 292.9697916666667,
 293.09010416666666,
 293.9152083333333,
 294.556375,
 293.2191666666667,
 293.1729166666666,
 292.28825,
 292.7677708333334,
 293.1944999999999,
 294.20374999999996,
 292.9491666666667,
 294.27708333333334,
 295.3129166666667,
 295.9216666666667,
 297.04625000000004,
 297.43916666666667,
 296.88124999999997,
 295.2566666666667,
 296.3304166666667,
 298.32749999999993,
 296.96833333333336,
 296.3585000000001,
 292.98041666666666,
 293.60625,
 294.9079166666666,
 294.92375,
 295.66,
 295.99375000000003,
 295.90333333333325,
 295.3491666666666,
 295.9145833333334,
 296.12333333333333,
 295.42083333333335,
 295.79583333333335,
 297.37708333333325,
 297.95166666666665,
 297.3804166666667,
 297.59166666666664,
 298.1245833333333,
 296.7233333333334,
 296.97291666666666,
 298.50458333333336,
 299.0208333333333,
 297.8179166666667,
 299.29791666666665,
 299.55958333333336,
 300.9262499999999,
 300.13208333333336,
 298.85125,
 296.21458333333334,
 297.1624166666666,
 295.79812499999997,
 296.09162499999996,
 296.25925,
 296.3652499999999,
 290.5879999999998,
 291.7340833333332,
 298.51745833333337,
 297.5324999999999,
 298.565,
 298.5129166666666,
 299.64875,
 299.7366666666666,
 299.1366666666666,
 299.28125,
 300.32041666666663,
 301.7529166666667,
 301.90958333333333,
 299.21624999999995,
 299.4041666666667,
 300.235,
 300.92875,
 298.10124999999994,
 298.5754166666666,
 298.6245833333333,
 298.72499999999997,
 298.40591666666666,
 293.2310416666666,
 295.50166666666667,
 296.36625000000004,
 296.60958333333326,
 296.33166666666665,
 296.78083333333336,
 296.6129166666667,
 299.57458333333335,
 299.5197916666666,
 300.10166666666663,
 299.49125,
 297.8433333333333,
 298.5066666666667,
 297.9833333333334,
 297.35372916666665,
 297.08583333333337,
 296.98333333333335,
 298.3279166666666,
 299.4125000000001,
 298.8620833333333,
 297.8324999999999,
 297.38291666666663,
 297.5707291666666,
 298.5662499999999,
 300.2537500000001,
 301.72333333333324,
 302.53624999999994,
 300.8341666666667,
 298.40291666666667,
 297.69083333333333,
 298.2941666666667,
 297.2220833333334,
 297.525,
 297.14583333333337,
 295.71541666666667,
 291.90999999999997,
 290.9433333333333,
 293.22583333333336,
 293.4125,
 293.0820143229167,
 292.51875,
 292.9335,
 293.33283333333327,
 293.83781250000004,
 293.3516666666667,
 291.82768749999997,
 294.062125,
 292.8816666666667,
 293.8295833333333,
 292.08625000000006,
 292.5208333333333,
 292.51125,
 293.5642083333334,
 294.6045833333333,
 293.74210416666665,
 293.7864375000001,
 291.39568750000007,
 291.75537499999996,
 292.02493749999996,
 291.87162500000005,
 291.92716666666655,
 290.44066666666663,
 291.61474999999996,
 288.9940833333332,
 287.7468541666667,
 288.9714583333335,
 288.758125,
 288.19991015625,
 292.17131249999994,
 290.9908749999999,
 289.2631458333333,
 288.55816666666675,
 287.9481875,
 288.29474999999996,
 288.193375,
 289.2888750000001,
 291.7047500000001,
 291.16787500000004,
 290.10499999999996,
 289.82737499999996,
 286.84499999999997,
 285.46537500000005,
 285.26987499999996,
 288.2065833333332,
 290.1499999999999,
 291.35833333333323,
 291.23333333333323,
 293.48333333333323,
 289.3999999999999,
 285.35833333333323,
 284.94166666666655,
 288.2749999999999,
 286.81666666666655,
 286.44166666666655,
 286.48333333333323,
 288.10833333333323,
 286.31666666666655,
 285.31666666666655,
 284.94166666666655,
 284.98333333333323,
 287.35833333333323,
 288.5249999999999,
 288.5249999999999,
 289.2749999999999,
 285.98333333333323,
 285.35833333333323,
 283.43250781249986,
 283.10958333333326,
 286.1499999999999,
 286.0636666666666,
 285.48333333333323,
 285.44166666666655,
 286.44166666666655,
 286.23333333333323,
 284.94166666666655,
 284.73333333333323,
 287.94166666666655,
 289.48333333333323,
 287.0458346354166,
 284.7124999999999,
 285.44166666666655,
 287.0249999999999,
 286.60833333333323,
 284.73333333333323,
 283.7749999999999,
 282.8999999999999,
 283.56666666666655,
 283.6499999999999,
 284.98333333333323,
 286.7124999999999,
 284.87916666666655,
 283.85833333333323,
 284.6499999999999,
 283.7749999999999,
 284.85833333333323,
 284.48333333333323,
 284.3999999999999,
 283.56666666666655,
 282.85833333333323,
 282.69166666666655,
 282.56666666666655,
 282.0249999999999,
 280.6499999999999,
 282.73333333333323,
 281.23333333333323,
 279.31666666666655,
 281.06666666666655,
 283.60833333333323,
 283.06666666666655,
 281.19166666666655,
 281.06666666666655,
 280.31666666666655,
 280.56666666666655,
 283.31666666666655,
 285.7749999999999,
 285.3999999999999,
 286.81666666666655,
 282.6499999999999,
 283.44166666666655,
 285.60833333333323,
 283.7749999999999,
 277.1499999999999,
 279.5249999999999,
 280.11208333333326,
 283.44166666666655,
 284.35833333333323,
 282.94166666666655,
 280.55079166666667,
 278.48829166666656,
 280.98333333333323,
 283.31666666666655,
 285.1499999999999,
 282.8999999999999,
 287.1499999999999,
 283.8999999999999,
 285.44166666666655,
 286.10833333333323,
 288.23333333333323,
 290.35833333333323,
 287.9934166666666,
 287.85833333333323,
 289.69166666666655,
 285.23333333333323,
 284.1499999999999,
 282.0249999999999,
 284.8999999999999,
 287.23333333333323,
 287.14252864583324,
 282.26348307291664,
 280.63258333333334,
 282.08637500000003,
 280.1049166666666,
 279.9641666666667,
 281.3019999999999,
 279.17749999999995,
 280.53094791666655,
 284.69166666666655,
 286.23333333333323,
 285.94166666666655,
 284.69166666666655,
 285.5249999999999,
 287.31666666666655,
 288.23333333333323,
 287.6499999999999,
 285.85833333333323,
 283.7749999999999,
 283.44166666666655,
 285.98333333333323,
 292.1499999999999,
 291.98333333333323,
 290.19166666666655,
 291.2749999999999,
 290.48333333333323,
 287.1499999999999,
 288.31666666666655,
 284.31666666666655,
 288.10833333333323,
 286.06666666666655,
 285.60833333333323,
 284.7749999999999,
 285.85833333333323,
 287.19166666666655,
 287.60833333333323,
 286.6499999999999,
 288.60833333333323,
 285.85833333333323,
 283.44166666666655,
 285.31666666666655,
 285.1845416666666,
 289.06666666666655,
 288.12483333333324,
 288.69166666666655,
 288.23333333333323,
 288.3999999999999,
 288.35833333333323,
 288.3999999999999,
 287.5249999999999,
 287.44166666666655,
 286.85833333333323,
 288.73333333333323,
 288.0249999999999,
 287.98333333333323,
 287.56666666666655,
 288.3999999999999,
 290.35833333333323,
 289.56666666666655,
 290.17125130208325,
 293.3999999999999,
 290.69166666666655,
 290.10833333333323,
 290.60833333333323,
 290.7749999999999,
 288.73333333333323,
 287.31666666666655,
 285.60833333333323,
 286.44166666666655,
 287.6499999999999,
 287.8999999999999,
 289.85833333333323,
 290.23333333333323,
 284.56666666666655,
 285.48333333333323,
 287.31666666666655,
 291.10833333333323,
 289.19166666666655,
 289.13583333333327,
 289.81008333333324,
 290.10833333333323,
 291.0249999999999,
 294.56666666666655,
 292.56666666666655,
 292.1499999999999,
 292.06666666666655,
 292.81666666666655,
 294.56666666666655,
 294.7333333333332,
 295.94166666666655,
 295.7333333333332,
 294.2749999999999,
 295.02499999999986,
 294.3999999999999,
 292.10833333333323,
 291.3999999999999,
 292.0249999999999,
 292.1499999999999,
 294.31666666666655,
 294.19166666666655,
 295.06666666666655,
 295.89999999999986,
 296.27499999999986,
 295.19166666666655,
 296.19166666666655,
 295.02499999999986,
 293.60833333333323,
 294.7333333333332,
 295.89999999999986,
 296.39999999999986,
 296.39999999999986,
 293.64999999999986,
 292.7749999999999,
 296.31666666666655,
 295.3583333333332,
 296.2333333333332,
 296.6083333333332,
 297.02499999999986,
 298.44166666666655,
 298.52499999999986,
 298.9833333333332,
 299.6083333333332,
 300.19166666666655,
 300.9833333333332,
 300.64999999999986,
 300.52499999999986,
 299.56666666666655,
 300.39999999999986,
 300.89974999999987,
 300.64999999999986,
 301.08749999999986,
 300.2333333333332,
 299.77499999999986,
 300.14999999999986,
 302.2333333333332,
 302.27499999999986,
 299.8583333333332,
 297.1083333333332,
 295.52499999999986,
 295.56898307291664,
 297.14999999999986,
 297.6083333333332,
 297.94166666666655,
 300.02499999999986,
 298.64999999999986,
 302.1083333333332,
 300.81666666666655,
 300.00416666666655,
 300.19166666666655,
 300.52499999999986,
 300.64999999999986,
 300.69166666666655,
 300.31666666666655,
 301.06666666666655,
 300.06666666666655,
 300.69166666666655,
 300.56666666666655,
 300.14999999999986,
 300.1083333333332,
 300.6083333333332,
 300.39999999999986,
 300.77499999999986,
 299.6083333333332,
 298.94166666666655,
 301.3583333333332,
 301.02499999999986,
 300.77499999999986,
 300.89999999999986,
 300.81666666666655,
 300.8583333333332,
 301.62870833333324,
 302.81391666666656,
 303.02499999999986,
 302.19166666666655,
 301.1083333333332,
 301.44166666666655,
 301.27499999999986,
 299.52499999999986,
 295.69166666666655,
 295.81666666666655,
 297.81666666666655,
 297.81666666666655,
 298.4833333333332,
 299.06666666666655,
 299.85122916666654,
 301.14999999999986,
 300.77499999999986,
 300.39999999999986,
 299.52499999999986,
 299.9833333333332,
 299.3583333333332,
 298.69166666666655,
 299.3583333333332,
 299.27499999999986,
 300.2333333333332,
 300.39999999999986,
 299.77499999999986,
 295.81666666666655,
 296.69166666666655,
 297.56666666666655,
 296.77499999999986,
 296.64999999999986,
 296.52499999999986,
 297.52499999999986,
 298.7333333333332,
 298.31666666666655,
 297.27499999999986,
 297.56666666666655,
 296.7333333333332,
 295.10833333333323,
 300.02499999999986,
 296.64999999999986,
 296.06666666666655,
 297.9833333333332,
 293.64999999999986,
 291.73333333333323,
 293.5249999999999,
 294.9833333333332,
 294.4833333333332,
 294.77499999999986,
 294.9195716145832,
 295.39999999999986,
 295.14999999999986,
 296.49712499999987,
 297.56666666666655,
 295.64999999999986,
 ...]

In [179]:
#funcion para sacar el promedio mensual desde el aÃ±o 2015 hasta el 2018 de las 5 provincias
mes=['31', '28', '30', '31', '30', '31', '30', '31', '30', '31', '30', '31']
mes2= ['31', '29', '30', '31', '30', '31', '30', '31', '30', '31', '30', '31']
new2=[]
m=0
x=0
c=0
y=1
u=0
for i in new:
    if y!=2:
        m += i
        x +=1
        if str(x) == mes[c]:
            f=mes[c]
            f=int(f)
            new2.append(m/f)
            c+=1
            x=0
            m=0
            if c > 11:
                c=0           
                u += 1
                if u == 1:
                    y=2   
    else:
        m += i
        x +=1
        if str(x) == mes2[c]:
            f=mes2[c]
            f=int(f)
            new2.append(m/f)
            c+=1
            x=0
            m=0
            if c > 11:
                c=0
                y=1
                u+=1
                   
print(len(new2))
print(new2)

48
[281.78917414314515, 282.67181236049106, 284.87533867187506, 287.07098202284953, 292.1168371527777, 295.4278642473118, 300.2297916666667, 298.4777419354839, 294.4939430555556, 291.09854502688177, 287.8050373263888, 284.1184698840726, 285.07872605846774, 285.7279398796696, 285.85852313368054, 288.96055817372314, 290.644417361111, 295.37432325268816, 297.74560972222224, 298.3341552419355, 295.7310567274306, 290.60608849966394, 287.0604752604166, 284.87043014952945, 282.27476881720423, 284.66302087983615, 287.1864236111111, 288.518965095766, 293.0451416666665, 298.23265322580636, 299.67021610243046, 299.9944254032257, 296.19972322048596, 293.6999321236558, 287.39488263888876, 283.3515376344086, 285.6039274193548, 283.08728571428566, 286.25951840277764, 289.5301021505375, 292.06027361111103, 296.3158991935483, 300.22662222222215, 300.78546874999984, 298.2238784722221, 292.80456989247295, 287.0493340277777, 284.8215456989248]